<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xzy.mapper.RoleresourceMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.xzy.entity.Roleresource">
		<id column="role_resourceid" property="roleResourceid" />
		<result column="role_resource_roleid" property="roleResourceRoleid" />
		<result column="role_resource_resourceid" property="roleResourceResourceid" />
	</resultMap>

</mapper>
